@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h3>@ViewBag.IssueNumber</h3>
    </div>
    <div>@Html.Raw(ViewBag.Description)</div>
    <ul>
        @foreach (string artist in ViewBag.Artists)
        {
            <li>@artist</li>
        }
    </ul>
</body>
</html>
